@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-font {
    font-family: 'Signika Negative', sans-serif;
}

/* div{
    border: greenyellow 2px solid;
} */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
@media (min-width: 640px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
}

.center{
    justify-content: center;
    align-items: center;
}

.background-home {
    background-image: radial-gradient(circle, #030d1c, #031730, #001e44, #022459, #12296d);
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.mouse-pointer {
    cursor: pointer;
}

.my-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A56DB;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0 1rem 0 1rem;
}

.my-btn:hover{
    background-color: #1e40af;
}




/* ------- Student HomePage - Stats ------- */

.student-stats-sections {
    background-image: linear-gradient(to right, #3b82f6, #2563eb);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

